// fonts
$font-family-primary: "Poppins", sans-serif;
$font-family-secondary: "Sen", sans-serif;

//colors
$color-accent: #C98A40;
$color-primary: #FDBA10;
$color-white: #FFFFFF;
$color-white-hover: #ffffff80;
$color-border-card: #FFD8AB;
$color-form-background: #FFD39F;
$color-background-footer: #584125;

//spaces
$max-width: 120rem;
$wrapper-max-width: 75rem;
$padding-section: 3.125rem;
$border-card-spacing: 1.875rem;
$wrapper-padding-media: 1rem;

// media screen 1232px
$desktop: 77rem;






