@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

@import './variables';
@import './mixin';
@import './components';


body {
    max-width: $max-width;
    font-family: $font-family-primary;
    margin: 0 auto;
}

section {
    overflow: hidden;
}

h1 {
    font-family: $font-family-secondary;
    font-size: clamp(3rem, 1vw + 3rem, 4.625rem);
    text-transform: uppercase;
    margin-block-start: 12.125rem;
    margin-block-end: 1.25rem;
}

h2 {
    font-family: $font-family-secondary;
    text-transform: uppercase;
    font-size: clamp(7rem, 1vw + 7rem ,9rem);
    line-height: 0.96;
}

h4 {
    font-size: 1rem;
    font-weight: 700;
    margin-block-end: .625rem;
    color: $color-accent;
}

p {
    font-size: 1.125rem;
    line-height: 1.625rem;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-inline: auto;
    padding-block-start: $padding-section;
    padding-block-end: $padding-section;
    max-width: $wrapper-max-width;
    z-index: 999;

    @include desktop {
        padding-inline: $wrapper-padding-media;
      }
}

.button-primary {

    @include button-primary;
}

.background-tasty {
    position: relative;

    &::before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        opacity: 0.4; //reason why background pseudo element
        background: url(./assets/hero-bg-tasty.webp) repeat;
    }
}

.logo {
    display: block;
    width: 15.5rem;
    height: 4.25rem;
    background: url(./assets/logo.svg) no-repeat;
    margin-block-start: 1.625rem;
    z-index: 999;
}

.hero {

    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1.6fr 1fr;
        padding-block: 0;

        @include desktop {
            grid-template-columns: 1fr 1fr 1fr;
        }
        
    }

    &-content {

        grid-area: 1 / 1 / 2 / 3;
        display: flex;
        flex-direction: column;
        align-self: stretch;
        position: relative;
        overflow: hidden;
        padding-block-end: $padding-section + 0.625rem;
        box-shadow: -22.5rem 0rem 0rem 0rem $color-accent;
        background: $color-accent;
        color: $color-white;

        h1, p {
            z-index: 999;
        }

        p {
            margin-block-end: 2.5rem;
            width: 56%;
        }

        &::before {
            content: "";
            display: block;
            position: absolute;
            right: -40rem;
            top: 12rem;
            bottom: 0;
            left: 0;
            background: radial-gradient(50% 50% at 50% 50%, #F2A850 0%, rgba(228, 166, 92, 0) 100%);
        }

        .button-primary {
            align-self: self-start;
            z-index: 999;
        }
    }

    &-image {
        grid-area: 1 / 2 / 3 / 4;
        justify-self: end;
        margin-block-end: 6.75rem;
        align-self: end;
        position: relative;
        z-index: 999;

        img {
            width: 41.625rem;
        }

        &::before {
            content: "";
            display: block;
            position: absolute;
            width: 11.75rem;
            height: 11.75rem;
            top: 22rem;
            left: 14.625rem;
            background: url(./assets/Star1.png) no-repeat;
        }
    }

    &-contact {
        grid-area: 2 / 1 / 3 / 3;
        display: flex;
        height: 12.5rem;

        .social {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            padding-inline: 2.5rem;

            img {
                width: 1.5rem;
                height: 1.5rem;
                object-fit: fill;
            }
        }

        .telephone {
            display: flex;
            align-items: end;
            width: 100%;
            background: $color-accent;
            color: $color-white;
            padding-inline-start: 1.25rem;
            padding-block-end: 1.25rem;

            span {
                &:first-child {
                    font-weight: 700;
                }

                &:last-child {
                    letter-spacing: 0.15rem;
                }
            }
        }
    }
}

// Section work
.work {

    .wrapper {
        display: grid;
        grid-template-columns: 0.3905fr 1fr;
        gap: $padding-section;

        p {
            grid-area: 1 / 1 / 2 / 2;
            display: flex;
            align-items: end;
            padding-inline-start: 1.875rem;
            max-width: 15.6rem;
            color: $color-accent;
            font-weight: 600;
        }

        h2 {
            grid-area: 1 / 2 / 2 / 3;
            text-align: end;
            color: $color-white;

        }
    }

    &-cards {
        grid-area: 2/ 1 / 3 / 3;
        display: flex;
        flex-direction: column;
        gap: $padding-section;

        .button-primary {
            align-self: center;
        }
    }

    &-image {
        display: flex;
        gap: 1.25rem;
        padding-inline: 1.875rem;

        img {
            border-radius: 0.625rem;
        }
    }

    &-background {
        grid-area: 1 / 2 / 3 / 3;
        background: $color-accent;
        box-shadow: 22.5rem -3.125rem 0rem 0rem $color-accent,
            22.5rem 3.125rem 0rem 0rem $color-accent,
            0px -3.125rem 0rem 0rem $color-accent,
            0px 3.125rem 0rem 0rem $color-accent;
    }
}

// Section about 
.about {
    color: $color-white;

    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: $padding-section;
    }

    &-content {
        grid-area: 1 / 1 / 2 / 2;
        display: flex;
        flex-direction: column;
        gap: $padding-section;

        .button-primary {
            align-self: self-start;
        }
    }

    &-img {
        grid-area: 1 / 2 / 2 / 4;

        img {
            border-radius: .625rem;
        }
    }

    &-background {
        grid-area: 1 / 1 / 2 / 3;
        background-color: $color-accent;
        box-shadow: -22.5rem -3.125rem 0rem 0rem $color-accent,
            -22.5rem 3.125rem 0rem 0rem $color-accent,
            0px -3.125rem 0rem 0rem $color-accent,
            0px 3.125rem 0rem 0rem $color-accent;
    }
}


// Section service
.services {

    .wrapper {
        gap: $padding-section;
        align-items: center;

        h2 {
            color: $color-accent;
        }
    }

    &-cards {
        display: flex;
        gap: 1.375rem;
    }

    &-card {
        border-radius: 1.875rem;

        div:last-child {
            padding-inline: $border-card-spacing;
            padding-block: $border-card-spacing;
            border-bottom-left-radius: $border-card-spacing;
            border-bottom-right-radius: $border-card-spacing;
            border-bottom: 1px solid $color-border-card;
            border-left: 1px solid $color-border-card;
            border-right: 1px solid $color-border-card;
        }

        img {
            border-top-right-radius: $border-card-spacing;
            border-top-left-radius: $border-card-spacing;
        }

        p {
            font-size: .875rem;
            line-height: 1.25rem;
        }
    }
}

// Section Testimonials
.testymonials {
    background: url(./assets/back-dark.png) no-repeat;
    background-color: $color-accent;

    .wrapper {
        align-items: center;
        padding-block-start: 5rem;

        h2 {
            margin-block-end: 5rem;
            color: $color-white;
        }

        p {
            margin-block-end: 1.25rem;
            font-size: 0.875rem;
            line-height: 1.25rem;
        }
    }

    &-cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: $padding-section;
        margin-block-end: $padding-section;
    }

    &-card {
        background: $color-white;
        border-radius: 1.875rem;
        padding-inline: $padding-section;
        padding-block: $padding-section - 1.875rem;

        &-stars {
            display: flex;
            gap: 0.375rem;
        }

        &-star::before {
            content: "";
            display: block;
            width: 1.125rem;
            height: 1.125rem;
            background: url(./assets/star.svg) no-repeat;
        }
    }
}


// Section contact
.contact {

    .wrapper {
        align-items: center;
        gap: $padding-section;
    }

    h2 {
        color: $color-accent;
    }

    &-form {
        display: flex;
        gap: 6.25rem;
        max-width: 49.25rem;
    }

    &-data {
        display: flex;
        flex-direction: column;
        padding-block-start: 1.875rem;
        gap: 1.875rem;

        a {
            display: flex;
            gap: 1.25rem;
            align-items: center;
            font-size: 0.875rem;
            text-decoration: none;
            color: inherit;
        }

        .email::before {
            @include contact-icon-before;
            background: url(./assets/envelop.svg) no-repeat 50% 50%;
        }

        .tel::before {
            @include contact-icon-before;
            background: url(./assets/phone.svg) no-repeat 50% 50%;
        }

        .address::before {
            @include contact-icon-before;
            background: url(./assets/map.svg) no-repeat 50% 50%;
        }
    }
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.875rem;
    width: 23.375rem;


    input {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 23.375rem;
        height: 3.5rem;
        border-radius: 3.75rem;
        padding: 1rem;
        background: $color-form-background;
        border: none;
        outline: none;
        font-size: 1.125rem;

        &::placeholder {
            color: $color-accent;
        }

        &[type="submit"] {
            width: 10.5rem;
            border: .1875rem solid $color-accent;
            background: none;
            cursor: pointer;
            transition: all 0.2s ease;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 1.125rem;
            color: $color-accent;
        }

        &[type="submit"]:hover {
            background: $color-accent;
            color: $color-white;
        }

        &[type="email"]{
            &:not(:focus) {
                &:not(:placeholder-shown) {
                    &:invalid {
                        outline: 3px solid red;
                    }
                }
            }
        }

        &[type="email"] {
            &:not(:focus) {
                &:not(:placeholder-shown) {
                    &:invalid {
                        ~ {
                            .error {
                                display: block;
                                margin-block-start: -0.3rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

.error {
    display: none;
    font-weight: 400;
    font-size: .7rem;
    color: red;
  }

footer {
    height: 7.375rem;
    background: $color-background-footer;
}